@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body,html, p{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #DBE5FB;
}

.app {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}

